@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* nav styles */
  nav{
    display: flex;
    justify-content: space-between;
    margin : 30px 150px;
  }

  nav h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    margin: 10px 0 0 0;
  }

  .nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    opacity: 0.8;
    border-radius: 8px;
    padding: 14px 26px 14px 26px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 900px;
    text-align: center;
  }


  /* Banner Styling */

  .banner{
    width : 1535px;
    height: 655px;
    background-image: url('/assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
  }

  .banner-container{
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .banner-header{
    width : 1000px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 800;
    line-height: 68px;
    margin : 8px 0 10px 0;
  }

  .banner-description{
    width : 1000px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    opacity: 0.7;
  }

  .banner-btn{
    width : 210px;
    height: 63px;
    padding : 17px 19px 17px 19px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color : white;
    font-family: Azeret Mono;
    font-weight: 800;
    font-size: 16px;
    margin: 15px 0;
  }

  /* Summery Styling */

.summery{
    margin : 74px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f2f2f2;
    margin : 80px 97px;
    max-width : 1050px;
    max-height: 1300px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.summery-header, .summery-description{
    text-align: center;
}

.summery-header{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 25px;
    text-align: center;
    padding-top : 20px;
}

.summery-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin : 0 60px 30px 60px;
}


.slider1, .slider2, .slider3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap : 94px;
    padding : 48px;
    background: #ffffff;
    margin : 0 0 30px 0;
    border-radius: 16px;
}

.slider1 h4, .slider2 h4, .slider3 h4{
    width : 450px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin : 10px 0 0 0;
}

.slider1 p, .slider2 p, .slider3 p{
    width : 450px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    opacity: 0.7;
    margin : 20px 0 35px 0;
}

.slider1 img, .slider2 img, .slider3 img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#learn-more{
    border-radius: 0;
    font-weight: 600;

}

/* Video Styling  */
.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width : 1050px;
    max-height: 1300px;
    text-align: center;
}

.inspiration h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 25px;
    text-align: center;
    margin: 30px 0 30px 0;
}

.inspiration p{
    width : 800px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    opacity : 0.7;
    margin : 0 0 30px 0;
}

.video{
   width : 1000px;
   height: 550px;
   padding : 20px 20px 50px 20px;
}

/* card section styling */

.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width : 1000px;
    max-height: 1300px;
    text-align: center;
}

.card-header h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 25px;
    text-align: center;
}

.card-header p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 50px;
}

.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1{
    display: flex;
    justify-content: left;
    flex-direction: column;
    background: #FF4C1E0D;
    padding : 40px;
    text-align: left;
    border-radius: 16px;
}

.card2{
    background: #004CE80D;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background: #FF4C1E0D;
    margin-left: 24px;
    padding : 40px;
    text-align: left;
    border-radius: 16px;
}

.card3{
    background: #FFDF000D;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background: #FF4C1E0D;
    margin-left: 24px;
    padding : 40px;
    text-align: left;
    border-radius: 16px;
}

.card1 img, .card2 img, .card3 img{
        width: 56px;
        height: 56px;
}

.card1 h1, .card2 h1, .card3 h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin: 30px 0 0 0;
}

.card1 p, .card2 p, .card3 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    margin : 20px 0 30px 0;
}

.card-section a{
    text-decoration: underline;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    letter-spacing: 0%;
    font-weight: 900;
}

.target{
    width: 1000px;
    height: 1350px;
}

.target-header h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 25px;
    text-align: center;
}

.target-header p{

}